 <body>
          <div class="flex-center position-ref full-height">
                  <div class="content">
        <div class="m-b-md">
            <h1 class="title">Remote Society</h1>

            <p>Technology empowers us to create the future of our choosing.

From what we do at work, where we live, how firms and markets are structured... we could leverage this power to unlock our potential as individuals, and at the same time build us all up together. 

How should we construct the Remote Society?
</p>
        </div>

        <div class="links">
            <a href=mailto:contact@remote-society.com>Contact</a>
        </div>
    </div>
          </div>
    </body>